1. Develop giải pháp scrape dữ liệu liên tục từ Binance, lưu dữ liệu này vào persistent

2. Dùng scraper đó để scrape BTCUSDT và ETHUSD trong nhiều ngày liên tiếp

In [1]:
pip install websocket-client

Requirement already satisfied: websocket-client in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import websocket, json

In [21]:
# cc = #'btcusdt' 'ethusdt'
cc = 'btcusdt'
interval = '1m' # 1m, 1s

socket = f'wss://stream.binance.com:9443/ws/{cc}@kline_{interval}'

In [22]:
socket

'wss://stream.binance.com:9443/ws/btcusdt@kline_1m'

In [5]:
data = []

In [6]:
import json
import time
from datetime import datetime


def on_message(ws, message):
    item = json.loads(message)    
    item['k']['time_get'] = datetime.now().strftime('%Y/%m/%d %H:%M:%S')

    print(item)
    print(" ")

    data.append(item)
    print(len(data))

    # print(message)
    time.sleep(1)
    
def on_close(ws):
    print('Connection Closed')

ws = websocket.WebSocketApp(socket,
                            on_message = on_message,
                            on_close = on_close)

In [ ]:
ws.run_forever()

In [9]:
import pandas as pd


pd.DataFrame(pd.DataFrame(data)['k'])

                                                   k
0  {'t': 1679317500000, 'T': 1679317559999, 's': ...

In [8]:
arr_k = []

for i in range(len(data)):
   arr_k.append(data[i]['k'])

In [ ]:
df_k = pd.DataFrame(arr_k)
df_k

In [ ]:
# df_k.to_csv('C:\\Users\\Admin\\OneDrive_Quan\\Máy tính\\Test_CTY_Dang\\Request_2\\data\\btcusdt\\btcusdt_1m_23h00_xx_210323.csv', index = False)

3. Viết code để test xem dữ liệu scrape từ binance về có đầy đủ hoặc bị duplicate không?

In [17]:
path = 'C:\\Users\\Admin\\OneDrive_Quan\\Máy tính\\Test_CTY_Dang\\Request_2\\data\\ethusd\\ethusd_3_1s_08h30_19h25_160323.csv'

df_3 = pd.read_csv(path)

df_3

,t,T,s,i,f,L,o,c,h,l,v,n,x,q,V,Q,B
0,1678930738000,1678930738999,ETHUSDT,1s,1103554288,1103554288,1642.91,1642.91,1642.91,1642.91,0.0066,1,True,10.843206,0.0066,10.843206,0
1,1678930739000,1678930739999,ETHUSDT,1s,1103554289,1103554325,1642.91,1643.13,1643.14,1642.91,4.0183,37,True,6602.224638,3.3330,5476.187649,0
2,1678930740000,1678930740999,ETHUSDT,1s,1103554326,1103554346,1643.14,1643.05,1643.14,1643.05,3.2898,21,True,5405.565664,2.2393,3679.457599,0
3,1678930741000,1678930741999,ETHUSDT,1s,-1,-1,1643.05,1643.05,1643.05,1643.05,0.0000,0,True,0.000000,0.0000,0.000000,0
4,1678930742000,1678930742999,ETHUSDT,1s,1103554347,1103554366,1643.04,1643.04,1643.05,1643.04,7.0512,20,True,11585.420278,1.6630,2732.392150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38792,1678969530000,1678969530999,ETHUSDT,1s,1103976726,1103976745,1654.61,1654.57,1654.61,1654.56,3.4482,20,True,5705.296791,0.0072,11.912904,0
38793,1678969531000,1678969531999,ETHUSDT,1s,1103976746,1103976758,1654.56,1654.56,1654.57,1654.56,4.0293,13,True,6666.740732,2.2124,3660.570668,0
38794,1678969532000,1678969532999,ETHUSDT,1s,1103976759,1103976764,1654.57,1654.56,1654.57,1654.56,0.7559,6,True,1250.688354,0.6450,1067.197650,0
38795,1678969533000,1678969533999,ETHUSDT,1s,1103976765,1103976777,1654.56,1654.54,1654.57,1654.54,2.9653,13,True,4906.258240,0.1262,208.805200,0
38796,1678969534000,1678969534999,ETHUSDT,1s,1103976778,1103976787,1654.54,1654.46,1654.54,1654.46,7.8596,10,True,13003.826014,0.0000,0.000000,0

In [18]:
df_3[df_3['f'] == -1]

,t,T,s,i,f,L,o,c,h,l,v,n,x,q,V,Q,B
3,1678930741000,1678930741999,ETHUSDT,1s,-1,-1,1643.05,1643.05,1643.05,1643.05,0.0,0,True,0.0,0.0,0.0,0
5,1678930743000,1678930743999,ETHUSDT,1s,-1,-1,1643.04,1643.04,1643.04,1643.04,0.0,0,True,0.0,0.0,0.0,0
6,1678930744000,1678930744999,ETHUSDT,1s,-1,-1,1643.04,1643.04,1643.04,1643.04,0.0,0,True,0.0,0.0,0.0,0
8,1678930746000,1678930746999,ETHUSDT,1s,-1,-1,1643.05,1643.05,1643.05,1643.05,0.0,0,True,0.0,0.0,0.0,0
10,1678930748000,1678930748999,ETHUSDT,1s,-1,-1,1643.05,1643.05,1643.05,1643.05,0.0,0,True,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38747,1678969485000,1678969485999,ETHUSDT,1s,-1,-1,1654.84,1654.84,1654.84,1654.84,0.0,0,True,0.0,0.0,0.0,0
38749,1678969487000,1678969487999,ETHUSDT,1s,-1,-1,1655.03,1655.03,1655.03,1655.03,0.0,0,True,0.0,0.0,0.0,0
38756,1678969494000,1678969494999,ETHUSDT,1s,-1,-1,1655.02,1655.02,1655.02,1655.02,0.0,0,True,0.0,0.0,0.0,0
38780,1678969518000,1678969518999,ETHUSDT,1s,-1,-1,1654.89,1654.89,1654.89,1654.89,0.0,0,True,0.0,0.0,0.0,0
38784,1678969522000,1678969522999,ETHUSDT,1s,-1,-1,1654.89,1654.89,1654.89,1654.89,0.0,0,True,0.0,0.0,0.0,0

In [23]:
# Số dữ liệu bị trùng
len(df_3[df_3['f'] == -1])

5307

In [19]:
df_3_rm_dc = df_3[df_3['f'] != -1]

In [20]:
df_3_rm_dc

,t,T,s,i,f,L,o,c,h,l,v,n,x,q,V,Q,B
0,1678930738000,1678930738999,ETHUSDT,1s,1103554288,1103554288,1642.91,1642.91,1642.91,1642.91,0.0066,1,True,10.843206,0.0066,10.843206,0
1,1678930739000,1678930739999,ETHUSDT,1s,1103554289,1103554325,1642.91,1643.13,1643.14,1642.91,4.0183,37,True,6602.224638,3.3330,5476.187649,0
2,1678930740000,1678930740999,ETHUSDT,1s,1103554326,1103554346,1643.14,1643.05,1643.14,1643.05,3.2898,21,True,5405.565664,2.2393,3679.457599,0
4,1678930742000,1678930742999,ETHUSDT,1s,1103554347,1103554366,1643.04,1643.04,1643.05,1643.04,7.0512,20,True,11585.420278,1.6630,2732.392150,0
7,1678930745000,1678930745999,ETHUSDT,1s,1103554367,1103554371,1643.04,1643.05,1643.05,1643.04,1.6954,5,True,2785.626516,1.6500,2711.032500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38792,1678969530000,1678969530999,ETHUSDT,1s,1103976726,1103976745,1654.61,1654.57,1654.61,1654.56,3.4482,20,True,5705.296791,0.0072,11.912904,0
38793,1678969531000,1678969531999,ETHUSDT,1s,1103976746,1103976758,1654.56,1654.56,1654.57,1654.56,4.0293,13,True,6666.740732,2.2124,3660.570668,0
38794,1678969532000,1678969532999,ETHUSDT,1s,1103976759,1103976764,1654.57,1654.56,1654.57,1654.56,0.7559,6,True,1250.688354,0.6450,1067.197650,0
38795,1678969533000,1678969533999,ETHUSDT,1s,1103976765,1103976777,1654.56,1654.54,1654.57,1654.54,2.9653,13,True,4906.258240,0.1262,208.805200,0
38796,1678969534000,1678969534999,ETHUSDT,1s,1103976778,1103976787,1654.54,1654.46,1654.54,1654.46,7.8596,10,True,13003.826014,0.0000,0.000000,0